record(ai, "$(SYS):get$(NAME)") {
    field(DTYP, "$(DTYP)")
    field(INP,  "@asyn($(PORT) $(ADDR))$(TYPE)_register")
    field(PINI, "YES")
    field(SCAN, "Passive")
    field(EGU,  "$(EGU)")
}

record(ao, "$(SYS):set$(NAME)") {
    field(DTYP, "$(DTYP)")
    field(OUT,  "@asyn($(PORT) $(ADDR))$(TYPE)_register")
    field(PINI, "NO")
    field(SCAN, "Passive")
    field(EGU,  "$(EGU)")
    field(FLNK, "$(SYS):get$(NAME)")
}
